:root {
  --primary-color: #936aba;
  --secondary-color: #6a1b9a;
  --third-color: #4a148c;
  --text-color: #333;
  --background-color: #f4f4f4;
  --second-background-color: #000;
  --font-color: #fff;
  --secondary-font-color: #936aba;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
header {
  color: var(--font-color);
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--font-color);
}
header h2 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--text-color);
}
header ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-wrapper {
  background-color: var(--primary-color);
}
li a:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
h1 {
  color: var(--text-color);
  margin-bottom: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}
.cell {
  position: relative;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  text-align: center;
  background: transparent;
  outline: none;
}
.cell .number {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 0.8rem;
  color: var(--primary-color);
}
.cell.block {
  background-color: transparent;
  border: none;
}
.clues {
  display: flex;
  gap: 40px;
  text-align: left;
  color: var(--text-color);
}
.clues h3 {
  color: var(--second-background-color);
  margin-bottom: 5px;
}
.clues ul {
  list-style: none;
  padding: 0;
}
.clues li {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-color);
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: var(--secondary-color);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: var(--third-color);
}
.btn {
  background-color: var(--secondary-color);
}
.btn:hover {
  background-color: var(--third-color);
}
.clues {
  color: white;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
}
.card {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    background-color: var(--primary-color); 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}
footer {
  background-color: var(--primary-color);
  color: var(--font-color);
  position: relative;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--font-color);
}
.mill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.crucigrama-bg {
    background-color: #070707; /* Morado más oscuro */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados opcionales */
}